:root {
    --color-white: #fff;
    --color-black: #000;
    --color-black-active: #1C1C1C;
    --color-green: #009949;
    --color-blue:  #1428A0;
    --color-gray-bg: #f8f8f8;
    --color-gray-base: #fdfdfd;
    --color-gray-active: #F3F3F3;
    --color-gray-text-light: #767676;
    --color-gray-text-dark: #555555;
}