:root {
  --color-white: #fff;
  --color-black: #000;
  --color-green: #009949;
  --color-button-initial: #1428a0;
  --color-button-active: #1c1c1c;
  --color-gray-bg: #f8f8f8;
  --color-gray-base: #fdfdfd;
  --color-gray-active: #f3f3f3;
  --color-gray-text-light: #767676;
  --color-gray-text-dark: #555555;
  --color-blue-light: #007aff;
}
