@import "reset-css";
@import "_variables";
@import "_fonts";

html { 
    font-size: 62.5%; 
}

body {
    font-family: "SamsungOne";
    background-color: var(--color-gray-bg);
    overscroll-behavior: none;
}